* {
    box-sizing: border-box; /* Чтобы падинги не влияли на бокс. Контент сожмется, чтобы бокс не поменялся */
}

html {
    font-family: sans-serif;
    background: #ebeff2;
    border-radius: 15px 15px;
}

a {
    text-decoration: none;  /* Убирает подчеркивание ссылок */
    /* color: #FFCC66; Цвет всех ссылок */
}

h1 {
    margin: 0;
    height: 40px;
    padding-left: 40px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    margin: 0;
    color: #fff;
}

h4 {
    height: 20px;
    color: #fff;
    opacity: 80%;
    line-height: 3 ;
    margin: 0;
    width: 114px;
}

img {
    max-width: 100%; /* чтобы картинки не вылезали за ширину экрана */
}

ul {
    list-style: none; /*  Убирает точки в списках */
    padding-inline-start: 0;
}

li {
    list-style: none; /*  Убирает точки в списках */
}

/* Хэдер */

header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-login-link-im  {
    margin-right: 7px;
}

.container {
    max-width: 1170px; /* Общая ширина контейнера */
    /* display: flex; */
    justify-content: center; /* Чтоб ыконтейнеры распологались по центру */
    margin-right: auto;  /* Чтоб ыконтейнеры распологались по центру */
    margin-left: auto;    /* Чтоб ыконтейнеры распологались по центру */
}

.header-logo-up {
    display: flex;
}

.header-logo-tel {
    margin-right: auto;
}

.header-tel {
    color: #666666;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
}

.header-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.header-login-link .special-more  {
    color: #CC9933;
    font-size: 16px;
}

.header-nav-centr {
    display: flex;
    justify-content: center;
    border: 1px solid #E1E1E1;
    height: 50px;
    margin: auto;
}

.header-nav-div {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 15px;
}

.header-nav-list {
    display: flex;
    padding-inline-start: 0px; /* обнуление браузерного отступа в меню */
}

.header-nav-left {
    display: flex;
    margin: 15px 0 15px 0;
    align-items: center;
}

.header-nav-left .header-nav-right-div {
    display: flex;
    margin: 15px 0 15px 0;
}

.header-nav-right {
    display: flex;
    margin-left: auto;
}

.header-nav-left-item:not(:last-child) /* применяется ко всем, кроме последнего элемента */ { 
    margin-right: 45px;
} 

.header-nav-left-item:first-child {
    margin-left: 45px;
}

.header-nav-right-item {
    margin-right: 45px;
}

.btn {
    padding: 13px 20px;
    border: 2px solid #CC9933; 
    color: #CC9933;
    line-height: 1; /* отключает перенос строки = размер шрифта*/
    border-radius: 15px;
    cursor: pointer;
}

.header-nav-left-item-link {
    color: #666666
}

/* Спец предложения */

.special-item {
    position: relative;
}

.special-ul  {
    margin: 0;
}

.special {
    display: flex;
    justify-content: center;
    margin: 0;
}

.h1-special {
    margin-bottom: 20px;
}

.special-more .special-more-rectangle  {
    display: flex;
}

.special-right {
    margin-right: auto; /* убрал фейковый отступ справа */
}

.special-left {
    margin-right: auto;  /* убрал фейковый отступ слева */
}

.special-horizontal-im-down .special-horizontal-im-up .special-vertical-im {
    position: relative;
}

.special-h2 {
    position: absolute;
    top: 40px;
    left: 40px;
}

.special-h2-right {
    position: absolute;
    top: 212px;
    left: 45px;
    right: 229px;
    font-weight: 700;
    line-height: 60px;
    size: 60px;

}

.special-price {
    position: absolute;
}

.special-price-1 {
    top: 135px;
    left: 40px;

}

.special-price-2 {
    top: 407px;
    left: 45px;
    font-weight: 400px;
    size: 30px;

}

.special-link {
    display: flex;
    text-align: center;
    height: 16px;
    line-height: 16px;
    color: #F0BF5F;


}

.special-link-1 {
    position: absolute;
    top: 202px;
    left: 40px;
}

.special-link-2 {
    position: absolute;
    top: 484px;
    left: 45px;
}

.special-link-rectangle {
    display: inline-block;
    margin-left: 4px;
}


/* about */

section.about {
    padding-right: 282px;
    padding-top: 70px;
    line-height: 32px;
}

/* service */

.service-h1 {
    margin-top: 70px;
}

.service-card {
    padding-top: 20px;
}

.service-card-up {
    position: relative;
    border-radius: 3px;
    display: flex;
}

.service-card-down {
    position: relative;
    border-radius: 3px;
    display: flex;
}

.service-card-uniq {
    background-color: #fff;
    height: 330px;
    width: 573px;
    border-radius: 17px;
}

.service-card-uniq-1 {
    margin-right: 24px;
    margin-bottom: 24px;
}

.service-card-uniq-2 {
    margin-bottom: 24px;
}

.service-card-uniq-3 {
    margin-right: 24px;
}

.service-text {
    margin-top: 26px;
    margin-left: 45px;
}

.service-link {
    color: #CC9933;
    font-weight: 500;
    list-style: 40px;
    size: 20px;
}

.service-link-1 {
    display: flex;
    text-align: center;
}

.service-link-rectangle { 
    display: inline-block;
    margin-left: 4px;
    /* выраваниваем треугольник на ссылке и сдвигаем его влево */
}

.service-text-down {
    line-height: 32px;
    margin-right: 126px;
}

/* advantage */

.advantage-h1 {
    margin-top: 70px;
    margin-bottom: 20px;
}

.advantage-ul {
    /* display: flex; */
    /* Чтобы карточки рассположились друг за другом flex надо вставлять в самом близком родительском теге */
}

.advantage-card {
    width: 276px;
    height: 276px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 24px;
}

.advantage-up  {
    display: flex;
}

.advantage-down {
    display: flex;
}

.advantage-margin {
    margin-right: 22px;
}

.advantage-im {
    width: 66px;
    height: 66px;
    margin-top: 40px;
    margin-left: 45px;
}

.advantage-text {
    margin-left: 45px;
    margin-right: 42px;
    size: 16px;
    line-height: 32px;

}

/* placment */

.placement-h1 {
    margin-top: 70px;
    margin-bottom: 20px;
}

.placement-card {
    background-color: #fff;
    width: 374px;
    height: 440px;
    border-radius: 15px;
    margin-right: 20px;
}

.placement-card-star {
    display: flex;
}

.placement-card-info-price-from, .placement-card-info-country{
    color: #999;
    font-size: 16px;
}

.placement-card-info {
    margin-top: 36px;
    margin-left: 45px;
}

.placement-card-info-4stars {
    margin-right: 45px;
    margin-left: 52px;
}

.placement-card-stars-im {
    margin-right: 6px;
}

.placement-card-info-price {
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
}

.placement-card-info-price-days {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.placement-btn {
    padding-top: 20px;
}

.placement-card-up {
    display: flex;
    position: relative;
}


.placement-card-all {
    display: flex;
    text-align: center;
    color: #fff;
    position: absolute;
    /* margin-top: 373px;
    margin-left: 54px;
    width: 100%; */
}

.placement-rectangle {
    margin-left: 4px;
}


/* form */

.div-form {
    margin-bottom: 75px;
}

.form {
    margin-top: 70px;
    background: #E9E9E9;
    height: 256px;
    border-radius: 15px;
}

.h1-form  {
    padding-top: 45px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.form-bg {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 75px;
    height: 106px;
    background-color: #fff;
    border-radius: 15px;
    box-sizing: content-box;
}

.form-content {
    display: flex;
    align-content: center;
    padding-left: 28px;
    padding-top: 31px;
    padding-bottom: 63px;
    justify-content: space-between;
}

.form-column {
    display: flex;
    align-content: center;
    align-items: center;
}

.form-ul {
    margin-right: 41px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-name {
    font-size: 12px;
    padding-bottom: 15px;
}

.form-data {
    font-size: 16px;
    display: flex;
    align-items: center
}

.form-rectangle-1 {
    padding-left: 15px;
}

.form-rectangle-2 {
    padding-left: 77px;
}

.form-rectangle-3 {
    padding-left: 96px;
    background-color: ;
}

.form-calendar {
    padding-left: 27px;
}

.form-bg-rc {
    display: ;
    width: 15px;
    height: 6px;  
    background-color: #999;
}

.form-btn {
    align-self: right;
}

/* contacts */

.contact-container {
    margin-top: 70px;
}

.div-contacts {
    background-color: #fff;
    border-radius: 15px;
}

.contacts-ul {
    margin: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
}

.contacts-im {
    width: 75%;
}

.contacts-ul-left {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-right: 52px;
}

.contact-left-text {
    width: 47px;
    height: 48px;
    /* padding-right: 83px; */
}

.contact-right-text {
    width: 228px;
}

.contacts-ul-left-flex {
    display: flex;
    /* padding: 0px 0px 25px 0px; */
}


.contacts-ul-left-flex::first-child {
    display: flex;
    padding-top: 25px;
}

.contact-left-text-div {
    min-width: 145px;
    
}

.contacts-tel {
    font-size: 16px;
    color: #CC9933;
}

.contact-mail {
    color: #CC9933;
}

.contact-mail-text {
    color: #999;
}

.contact-btn {
    text-align: center;
    margin-top: 20px;    
    padding: 27px 0 29px 0;
    border: 2px solid #CC9933; 
    color: #CC9933;
    line-height: 1; /* отключает перенос строки = размер шрифта*/
    border-radius: 15px;
    cursor: pointer;
    max-width: 230px;
}

.contact-line {
    height: 1px;
    background: #E9E9E9;
    margin: 24px 0 24px 0;
}

/* footer */

.footer-container {
    margin-bottom: 30px;
    background-color: #333;
    border-radius: 15px;
    justify-content: flex-start;
    display: flex;
    max-height: 341px;
}

.contact-ul {

    margin: 0 45px 45px 45px;
    padding-top: 45px;

}

.footer-text-white {
    color: #fff;
}

.contact-ul-1 {
    /* max-width: 302px;
    max-height: 240px; */
    column-count: 1;
}

.contact-ul-2 {
    /* display: flex; */
    column-count: 1;
}

/* .footer-text {
    display: flex;
    position: relative;
} */

.footer-text-1 {
    padding-bottom: 37px;
    max-width: 302px;
}

.footer-tel {
    margin-top: 15px;
    margin-bottom: 15px;
}